.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
build/
dist/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Apple double files
._*
